@page "/LearnBlazor/DemoProduct"
<h3>Product Demo</h3>
<p>Favorite Product: @SelectedFavoriteCount.ToString()</p>
<p>Last Clicked Product: @LastClickedProduct</p>
<div class="row border p-2 mt-2" style="background-color:azure">
    @foreach (var _product in products)
    {
        <_SingleProductComponent 
            product="@_product" 
            OnFavoriteChanged="FavoriteCountUpdate"
        OnLastClickedProductChanged="LastClickedProductUpdate">
    <String1>#1</String1>
    <String2>#2</String2>
    </_SingleProductComponent>
    }
    <div class="col-6 p-2">
    </div>
</div>

@code {
    List<Demo_Product> products = new();
    private int SelectedFavoriteCount { get; set; } = 0;
    public string LastClickedProduct { get; set; } = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 150.99M,
                showProperties = true,
                ProductProperties = new()
                {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                     new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 123.99M,
                showProperties = false,
                ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
            }
            });
    }

    protected void FavoriteCountUpdate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavoriteCount++;
        }
        else
        {
            SelectedFavoriteCount--;
        }
    }

    protected void LastClickedProductUpdate(string productName)
    {
        LastClickedProduct = productName;
    }
}
